{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <table class="table" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Pin</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr name="elements" id="{{ user.id}}">
            <td>{{ user.id }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prénom }}</td>
            <td>{{ user.pin }}</td>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">Rien a afficher</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock main %}