<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BROADCOM - Chat Interface</title>
    <link rel="stylesheet" href="{{ asset('css/unified-style.css') }}">
</head>
<body>
    
    <div id="chatPage" class="page active">
        <div class="sidebar">
            <div class="sidebar-header">
                BroadCom
            </div>
            
            <div class="user-list" id="userList">
                {% for conversation in conversations %}
                    <div class="user-item">{% if conversation.utilisateur1.id == current_user.id %}{{ conversation.utilisateur2.Prénom }} {{conversation.utilisateur2.Nom }}{% else %}{{ conversation.utilisateur1.Prénom }} {{conversation.utilisateur1.Nom }} {% endif %}</div>
                {% endfor %}
            </div>
        </div>

        <div class="chat-container">
            <div class="chat-header">
                <div class="chat-title" id="chatTitle">{% if conversation.utilisateur1.id == current_user.id %}{{ conversation.utilisateur2.Prénom }} {{conversation.utilisateur2.Nom }}{% else %}{{ conversation.utilisateur1.Prénom }} {{conversation.utilisateur1.Nom }} {% endif %}</div>
                <div class="header-actions">
                    <span id="currentUser">{{ current_user.Identifiant }}</span>
                    <form action="{{path('app_logout')}}">
                        <button class="quit-btn" id="quitBtnChat" type="submit">Se déconnecter</button>
                    </form>
                </div>
            </div>

            <div class="messages-container" id="messagesContainer">
                {% for conversation in conversations %}
                    {% for message in conversation.getMessages() %}
                        <div>{{ message.texte }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            
            <div class="message-input-wrapper">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}{{ form_end(form) }}
            </div>
        </div>
    </div>
</body>
</html>
